* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background: #1c0111;
    color: #ff0099;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  span {
    color: rgb(255, 0, 208);
  }
  
  .button-container button {
    display: flex;
    padding: 12px 24px;
    background-color: rgb(160, 126, 197);
    border: none;
    border-radius: 5px;
    font-size: 18px;
  }
  
  .button-container {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .desk_closed {
    width: 1500px;
    height: 790px;
    position: relative; /* Added positioning */
  }
  
  .napkin {

    width: 100px;
    height: 100px;
    position: absolute; /* Added positioning */
    top: 55%; /* Adjust as needed */
    left: 25%; /* Adjust as needed */
  }
  
  .sheath {

    width: 150px;
    height: 150px;
    position: absolute; /* Added positioning */
    top: 55%; /* Adjust as needed */
    left: 70%;
  }

  .glove{

    width: 120px;
    height: 120px;
    position: absolute; /* Added positioning */
    top: 45%; /* Adjust as needed */
    left: 65%

  }


  .key {

    width: 75px;
    height: 75px;
    position: absolute; /* Added positioning */
    top: 60%; /* Adjust as needed */
    left: 62%

  }

  .obituary{

    width: 300px;
    height: 300px;
    position: absolute; /* Added positioning */
    top: 40%; /* Adjust as needed */
    left: 45%

  }

  .mute-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
  }

  .red-arrow {
    width: 10px;
    height: 10px;
    position: fixed;
    

  }

  .open-button {
    display: none; /* Hide the "Open" button by default */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
  }
  
  .open-button button {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
