*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    width: 100%;
    height: 100vh;
    background: #1c0111;
    color: #ff0099;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

span{
    color: rgb(255, 0, 208);
}

.button-container button {
    display: flex;
    padding: 12px 24px;
    background-color: rgb(160, 126, 197);
    border: none;
    border-radius: 5px;
    font-size: 18px;
  }

.button-container {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}