.hair-dye{

    width: 200px;
    height: 200px;
    position: absolute; /* Added positioning */
    top: 45%; /* Adjust as needed */
    left: 70%
  
  }
  
  .card{
  
    width: 200px;
    height: 200px;
    position: absolute; /* Added positioning */
    top: 43%; /* Adjust as needed */
    left: 32%
  
  }
  
  .ketchup {
    width: 200px;
    height: 200px;
    position: absolute; /* Added positioning */
    top: 60%; /* Adjust as needed */
    left: 40%
  

  }

 .letteropen {
    width: 200px;
    height: 200px;
    position: absolute; /* Added positioning */
    top: 50%; /* Adjust as needed */
    left: 60%

}

.desk_open{
    width: 1500px;
    height: 790px;
    position: relative;
}
.red-arrow{
  width: 10px;
  height: 10px;
  position: fixed;

}
